<h2>Login</h2>

<form id="loginForm">
    <div>
        <label for="loginUsername">Username:</label>
        <input type="text" id="loginUsername" name="loginUsername">
    </div>
    <div>
        <label for="loginPassword">Password:</label>
        <input type="password" id="loginPassword" name="loginPassword">
    </div>
    <button type="submit">Login</button>
</form>
